<% provide(:title, "Company") %>
<h1>企業情報</h1>
<div class = "company-information">
  <h2>会社概要</h2>
  <div class = "main-content">
    <ul>
      <li class = "list-item">
        <div class = "list-head">社名</div>
        <div class = "list-data">しゃんと株式会社</div>
      </li>
      <li class = "list-item">
        <div class = "list-head">代表者</div>
        <div class = "list-data">代表取締役</div>
      </li>
      <li class = "list-item">
        <div class = "list-head-history">沿革</div>
        <div class = "list-data">
          <ul class = "history">
            <li>2010年　4月　設立</li>
            <li>2017年　2月　オフィス転移</li>
          </ul>
        </div>
      </li>
      <li class = "list-item">
        <div class = "list-head-business">事業内容</div>
        <div class = "list-data">
          <ul class = "business">
            <li>
              経営層のための課題解決SNS、
              Team Linkの開発・運営
            </li>
            <li>
              社長に直接提案できる商談用プラットフォーム
              Team Link Adminの開発・運営
            </li>
          </ul>
        </div>
      </li>
      <li class = "list-item">
        <div class = "list-head">お客様相談窓口</div>
        <div class = "list-data">info@shant.jp</div>
      </li>
    </ul>
  </div>
</div>

<div class = "company-access">
  <h2>アクセス</h2>
  <div class = "main-content">
    <p>東京都渋谷区恵比寿1-24-15シエルブルー恵比寿EAST6F</p>
  </div>
</div>


<div class = "company-information">
  <h2>企業理念</h2>
  <div class = "main-content">
    <ul>
      <li class = "list-item">
        <div class = "list-head">ミッション</div>
        <div class = "list-data">
          私たちは、学生が選択肢を増やすための正確で新しい情報を提供することで、
          <br>
          最も活躍できるキャリアの形成に貢献します。</div>
      </li>
      <li class = "list-item">
        <div class = "list-head">ビジョン</div>
        <div class = "list-data">人材と企業のミスマッチ０の社会を構築します。</div>
      </li>
      <li class = "list-item">
        <div class = "list-head">バリュー</div>
        <div class = "list-data">
          私たちは、新卒学生の就職活動に潜む課題に対して、距離を縮めて相手を見極
          <br>
          めてから選択肢に気づかせる存在です。
        </div>
      </li>
    </ul>
  </div>
</div>

