<% provide(:title, "Home") %>
<section>
  <div class = "inner typesquare_tags">
    <h1 class = "catch_copy">
      日本初！
      <br>
      経営層のための
      <br>
      SNSサービス
    </h1>
    <p class = "sub_text">
      プロの専門家に無料相談
      <br>
      プロの検索
    </p>
    <div class = "button--wrapp typesquare_tags">
      <ul>
        <li class = "button-1"><%= link_to "新規無料登録", '#' %></li>
        <li class = "button-1"><%= link_to "資料説明はこちらから", '#' %></li>
      </ul>
    </div>
  </div>
  <img src = "/assets/PC_display.jpg" width = "500" height = "600" alt = "PC">
</section>
<section>
  <h1 class = "section--title">Team Linkで解決できる課題</h1>
  <p class = "explanation">
    経営者の方が評価制度、WEB広告、SNS、資金調達など、専門性が求められるあらゆる領域で悩みを抱えている一方で、
    経営者さんの周りにそういった課題を解決できる専門家がないということです。
    この問題点を解消するためにTeamLinkでは複数のプロから解決策を提示してもらえる場を設けています。
  </p>
  <div class = "solution--wrapp">
    <div class = "solution--item">
      <div class = solution--icon>
        <img>
      </div>
      <div class = "solution--name">
        <span>
          <b>新卒の採用</b>
        </span>
      </div>
    </div>
    <div class = "solution--item">
      <div class = solution--icon>
        <img>
      </div>
      <div class = "solution--name">
        <span>
          <b>中途の採用</b>
        </span>
      </div>
    </div>
    <div class = "solution--item">
      <div class = solution--icon>
        <img>
      </div>
      <div class = "solution--name">
        <span>
          <b>離職率の低下</b>
        </span>
      </div>
    </div>
    <div class = "solution--item">
      <div class = solution--icon>
        <img>
      </div>
      <div class = "solution--name">
        <span>
          <b>タスクの効率化</b>
        </span>
      </div>
    </div>
    <div class = "solution--item">
      <div class = solution--icon>
        <img>
      </div>
      <div class = "solution--name">
        <span>
          <b>資金調達</b>
        </span>
      </div>
    </div>
    <div class = "solution--item">
      <div class = solution--icon>
        <img>
      </div>
      <div class = "solution--name">
        <span>
          <b>資金繰りの改善</b>
        </span>
      </div>
    </div>
    <div class = "solution--item">
      <div class = solution--icon>
        <img>
      </div>
      <div class = "solution--name">
        <span>
          <b>HP作成</b>
        </span>
      </div>
    </div>
    <div class = "solution--item">
      <div class = solution--icon>
        <img>
      </div>
      <div class = "solution--name">
        <span>
          <b>web集客</b>
        </span>
      </div>
    </div>
    <div class = "solution--item">
      <div class = solution--icon>
        <img>
      </div>
      <div class = "solution--name">
        <span>
          <b>自社商品の集客の強化</b>
        </span>
      </div>
    </div>
    <div class = "solution--item">
      <div class = solution--icon>
        <img>
      </div>
      <div class = "solution--name">
        <span>
          <b>新規事業創出</b>
        </span>
      </div>
    </div>
    <div class = "solution--item">
      <div class = solution--icon>
        <img>
      </div>
      <div class = "solution--name">
        <span>
          <b>ITシステムの構築</b>
        </span>
      </div>
    </div>
  </div>
</section>

<section>
  <h1 class = "section--title">Team Linkの特徴</h1>
  <div class = "feature--item typesquare_tags">
    <div class = "inner_text">
      <div class = "feature--item-content typesquare_tags">
        <div class = "title-number">
          <b>
            POINT
            <br>
            <span>
              1
            </span>
          </b>
        </div>
        <h2>課題解決の相談が無料</h2>
      </div>
      <p>
        経営層で発生する課題に対して無料で相談することができます。
        業務上で起こりうる課題はさまざまであり多岐に渡りますが、
        ほぼすべての課題の相談への対応が可能です。また、相談は
        内容にかかわらず全て無料でうけることができます。
      </p>
    </div>
    <div class = "figure-point">
      <ul>
        <li class = "free--solution">
          <img src = "/assets/hiring_new_graduates.jpg" width = "100" height = "100">
          <p>中途採用</p>
        </li>
        <li class = "free--solution">
          <img src = "/assets/installation_tools.jpg" width = "100" height = "100">
          <p>ツール導入</p>
        </li class = "free--solution">
        <li class = "free--solution">
          <img src = "/assets/web.jpg" width = "100" height = "100">
          <p>web集客</p>
        </li>
        <li class = "free--solution">
          <img src = "/assets/money.jpg" width = "100" height = "100">
          <p>資金繰り</p>
        </li>
        <li class = "free--solution">
          <img src = "/assets/HP.jpg" width = "100" height = "100">
          <p>HP作成</p>
        </li>
      </ul>
    </div>
  </div>
  <div class = "feature--item typesquare_tags">
    <div class = "inner_text">
      <div class = "feature--item-content typesquare_tags">
        <div class = "title-number">
          <b>
            POINT
            <br>
            <span>
              2
            </span>
          </b>
        </div>
        <h2>プロ集団からの<br>適切なオファー</h2>
      </div>
      <p>
        あらゆる業界のプロ達が当サービスに登録しています。それぞれ
        の課題解決に長けたプロ達から相談を受けてもらう事ができます。
        当サービスを活用して課題解決の糸口を発見しましょう。
      </p>
    </div>
    <div class = "figure-point">
      <div class = "president">
        <img src = "/assets/president1.jpg" width = "124" height = "159">
        <div class = "president-info">
          <h3>ドクターシーラボを<br>上場させた経営のプロ</h3>
          <p>経営コンサルタント<br>池本克之</p>
        </div>
      </div>
      <div class = "president">
        <img src = "/assets/president2.jpg" width = "124" height = "159">
        <div class = "president-info">
          <h3>100社以上の売上を<br>向上させたweb集客のプロ</h3>
          <p>株式会社シナジスタCMO<br>山下彰雄</p>
        </div>
      </div>
    </div>
  </div>
  <div class = "feature--item typesquare_tags">
    <figure class = "feature--image" style = background-image: ></figure>
    <div class = "feature--item-content typesquare_tags">
      <div class = "title-number">
        <b>
          POINT
          <br>
          <span>
            3
          </span>
        </b>
      </div>
      <h2>依頼先の情報が明確</h2>
    </div>
    <p>
      通常のビジネスマッチングサイトはサービスが多く存在するため
      <br>
      サービス同士のあ比較検討が難しくなっています。一方、依頼す
      <br>
      るプロの情報が透明化されており、それに加えて投稿の内容や
      <br>
      業務の種類から簡単にサービスを比較することができます。
    </p>
  </div>  
</section>

<section>
  <h1 class = "section--title">Team Linkの簡単3ステップ</h1>
  <div class = "procedure--item typesquare_tags">
    <figure class = "procedure--image" style = background-image: ></figure>
    <div class = "procedure--item-content typesquare_tags">
      <div class = "title-number">
        <b>
          STEP
          <br>
          <span>
            1
          </span>
        </b>
      </div>
      <h2>1 clickで課題<br>を作成</h2>
    </div>
    <p>
      様々な経営におけるシチュエーションで、いつでもどこでも
      1 clickで気軽に経営層の課題を投稿することができます。
    </p>
  </div>
  <div class = "procedure--item typesquare_tags">
    <figure class = "procedure--image" style = background-image: ></figure>
    <div class = "procedure--item-content typesquare_tags">
      <div class = "title-number">
        <b>
          STEP
          <br>
          <span>
            2
          </span>
        </b>
      </div>
      <h2>業界のプロから<br>返信が届く</h2>
    </div>
    <p>
      各業界のプロからメッセージが送られてくるので、経営課題の
      解決に役立てることが出来ます。
    </p>
  </div>
  <div class = "procedure--item typesquare_tags">
    <figure class = "procedure--image" style = background-image: ></figure>
    <div class = "procedure--item-content typesquare_tags">
      <div class = "title-number">
        <b>
          STEP
          <br>
          <span>
            3
          </span>
        </b>
      </div>
      <h2>プロのサービス<br>を確認</h2>
    </div>
    <p>
      業界のプロ集団が担当するサービスを確認することができます。
    </p>
  </div>  
</section>

<section>
  <h1 class = "section--title">Team Linkの対象者</h1>
  <p class = "explanation">
    TeamLink の登録者は主に業務に悩みを抱える経営者の方が多いですが、
    経営者以外の方でも悩みを抱えているのであればもご利用いただけます。
  </p>
  <div class = "target--wrapp">
    <div class = "target--item">
      <div class = "target--name">
        <h2>営業部長</h2>
      </div>
      <div class = "target--content">
        <img>
        <p>
          営業コストの削減に関する
          <br>
          相談や契約獲得のための
          <br>
          マニュアルの改善に関する
          <br>
          質問をすることができます。
        </p>
      </div>
    </div>
    <div class = "target--item">
      <div class = "target--name">
        <h2>人事部長</h2>
      </div>
      <div class = "target--content">
        <img>
        <p>
          新卒や中途の採用や
          離職率を低下させる方法
          人材育成などに関する
          相談ができます
        </p>
      </div>
    </div>
    <div class = "target--item">
      <div class = "target--name">
        <h2>総務部長</h2>
      </div>
      <div class = "target--content">
        <img>
        <p>
          膨大な量のタスクを効率的に
          処理する方法などを相談
          することができます。
        </p>
      </div>
    </div>
    <div class = "target--item">
      <div class = "target--name">
        <h2>経理部長</h2>
      </div>
      <div class = "target--content">
        <img>
        <p>
          資金繰りを安定させたり
          有利な条件で資金調達する
          ためにプロに相談すること
          ができます。
        </p>
      </div>
    </div>
    <div class = "target--item">
      <div class = "target--name">
        <h2>マーケティング部長</h2>
      </div>
      <div class = "target--content">
        <img>
        <p>
          web集客などの自社商品の
          集客のための戦略について
          プロに相談することができ
          ます。
        </p>
      </div>
    </div>
  </div>
</section>