<% provide(:title, "News") %>
<h1>ニュース</h1>
<p>
  coming soon
</p>


<div class="a">
    <div class="b"><img class = "solution--icon" src = "/assets/hiring_new_graduates.jpg" width = "80px" height = "80px"></div>
    <div class="b"><img class = "solution--icon" src = "/assets/hiring_new_graduates.jpg" width = "80px" height = "80px"></div>
    <div class="b"><img class = "solution--icon" src = "/assets/hiring_new_graduates.jpg" width = "80px" height = "80px"></div>
</div>