@import "bootstrap-sprockets";
@import "bootstrap";
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
.btn-trigger {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 34px;
    height: 28px;
    transform: translateY(-50%);
    cursor: pointer;
}
.btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 4px;
}
.btn-trigger, .btn-trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
    top: 0;
}
.btn-trigger span:nth-of-type(2) {
    top: 12px;
}
.btn-trigger span:nth-of-type(3) {
    bottom: 0;
}
#btn.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
}
#btn.active span:nth-of-type(2) {
    left: 50%;
    opacity: 0;
    animation: active-btn-bar02 .8s forwards;
}
@keyframes active-btn-bar02 {
    100% {
        height: 0;
    }
}
#btn.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
}

.navbar {
  background-color: rgb(0, 149, 246);
  .container {
    .logo {
      height: 35.7px;
      display: block;
      float: left;
      margin-right: 10px;
      font-size: 1.7em;
      color: #FFFFFF;
      text-transform: uppercase;
      padding-top: 5px;
    }
    nav {
      list-style: none;
      float: right;
      color: white;
      background-color: rgb(0, 149, 246);
      ul{
        list-style: none;
        float: right;
        li {
          list-style: none;
          float: left;
          font-weight: bold;
          margin: 0 auto;
          padding: 15px;
        }
      }
    }
  }
}

/* footer */

footer {
  height: 400px;
  margin-top: 45px;
  padding-bottom: 80px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer-list {
  float: left;
  list-style: none;
  width: 50%;
}

.footer-list-title {
  color: #222222;
  display: block;
  margin-top: 16px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  list-style: none;
  font-weight: bold;
}

.footer-list-link {
  color: black;
  font-size: 14px ;
  line-height: 18px ;
  list-style: none;
  margin-top: 16px;
  margin-left: -31px;
}


@media(max-width: 1000px) {
  nav {
    position: fixed;
    top: 10vh;
    width: 20%;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      flex-direction: column;
      align-items: flex-start;
      li {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  
}

@media(min-width: 1000px) {
  //header
  //footer
  .btn-trigger {
      display: none;
  }
  
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;

}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.filed_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
