@import "bootstrap-sprockets";
@import "bootstrap";
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
.btn-trigger {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 34px;
    height: 28px;
    transform: translateY(-50%);
    cursor: pointer;
}
.btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 4px;
}
.btn-trigger, .btn-trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
    top: 0;
}
.btn-trigger span:nth-of-type(2) {
    top: 12px;
}
.btn-trigger span:nth-of-type(3) {
    bottom: 0;
}
#btn.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
}
#btn.active span:nth-of-type(2) {
    left: 50%;
    opacity: 0;
    animation: active-btn-bar02 .8s forwards;
}
@keyframes active-btn-bar02 {
    100% {
        height: 0;
    }
}
#btn.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
}

.navbar {
  background-color: rgb(0, 149, 246);
  .container {
    .logo {
      width: 140px;
      height: 34.7px;
      display: block;
      float: left;
      margin-right: 10px;
      font-size: 1.7em;
      color: #FFFFFF;
      text-transform: uppercase;
      padding-top: 9px;
    }
    nav {
      list-style: none;
      float: right;
      color: white;
      background-color: rgb(0, 149, 246);
      ul{
        list-style: none;
        float: right;
        li {
          list-style: none;
          float: left;
          font-weight: bold;
          margin: 0 auto;
          padding: 15px;
        }
      }
    }
  }
}

/* footer */

footer {
  height: 400px;
  margin-top: 45px;
  padding-bottom: 80px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer-list {
  float: left;
  list-style: none;
  width: 50%;
}

.footer-list-title {
  color: #222222;
  display: block;
  margin-top: 16px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  list-style: none;
  font-weight: bold;
}

.footer-list-link {
  color: black;
  font-size: 14px ;
  line-height: 18px ;
  list-style: none;
  margin-top: 16px;
  margin-left: -31px;
}


@media(max-width: 1000px) {
  nav {
    position: fixed;
    top: 10vh;
    width: 20%;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      flex-direction: column;
      align-items: flex-start;
      li {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  
}

@media(min-width: 1000px) {
  //header
  //footer
  .btn-trigger {
      display: none;
  }
  
}



