// Place all the styles related to the TeamLinkPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

h1,h2 {
    font-weight: 700;
}

section {
    margin: 60px 0 60px 0;
}

.section--feature {
    margin-bottom: 60px;
}


//home
.inner {
    float: left;
    width: 50%;
    padding: 0px 30px 0px 30px;
}

.catch_copy {
    text-align: left;
    letter-spacing: 3px;
    font-size: 40px;
    line-heighgt: 1.6;
    padding: 0px 0px 30px 0px;
    font-weight: bold;
}

.PC {
    width: 40%;
    margin: 0 auto;
}
    
.iPad {
    display: none;
}
    
.SP {
    display: none;
}


.button--wrapp {
    margin-left: -31px;
    padding: 30px 0px 30px 0px
}

.button--wrapp ul {
    display: flex;
}


.button-1 {
    width: 200px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    list-style: none;
    font-weight: bold;
    background: rgb(0, 149, 246);
    text-align: center;
}

.button-1-2 {
    width: 200px;
    height: 40px;
    float: left;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    list-style: none;
    font-weight: bold;
    background: white;
    text-align: center;
    border: solid 3px #0095F6;
}


.button-2 {
    width: 240px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    list-style: none;
    font-weight: bold;
    background: rgb(0, 149, 246);
    text-align: center;
}

.button-3 {
    height: 40px;
    flex: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    list-style: none;
    font-weight: bold;
    background: rgb(0, 149, 246);
    text-align: center;
}

.button-cta {
    width: 320px;
    height: 90px;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    background-color: #0095F6;
    border-radius: 22px;
    text-decoration: none;
    padding: 25px 55px 25px 55px;
}

.explanation {
    margin: 0 auto;
    width: 80%;
}

.solution--wrapp {
    display: flex;
    flex-wrap: wrap;
}

.solution--item {
    flex: auto;
    width: 25%;
    display: flex;
}


.solution--icon {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 20px;
}

.solution--name {
    margin: 53px 0 53px 0;
}

.feature--item {
    width: 90%;
    display: flex;
    margin: 60px 5% 60px 5%;
}

.item-content {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.item-content-step1 {
    display: flex;
    width: 90%;
    height: 100px;
    margin: 0 auto;
}

.inner_text {
    flex: auto;
    width: 48%;
    height: 300px;
}

.inner_text p {
    margin-top: 30px;
}

.title-number {
    width: 80px;
    height: 80px;
    text-align: center;
    border: solid 3px #000000;
    border-radius: 25%;
}

.title-number-inner {
    margin: 8.8px;
}

b span {
    font-size: 30px;
}

b {
    text-align: center;
    margin: 0 auto;
}

.feature--item img {
    flex: auto;
    margin-left: 3%;
    border-radius: 20px;
    width: 45%;
    margin: 0 auto;
}

.item-content h2 {
    flex: auto;
    font-weight: 700;
    text-align: left;
    margin-left: 30px;
}

.item-content-step1 h2 {
    flex: auto;
    font-weight: 700;
    text-align: left;
    margin-left: 30px;
}


.procedure--item-content h2 {
    margin: 17.2px 30px 17.2px 30px;
    font-weight: 700;
}

.inner_text p {
    margin: 60px 10% 0 10%;
    width: 70%;
}

.figure-point-moc {
    flex: auto;
    margin-left: 3%;
    border-radius: 20px;
    width: 30%;
    margin: 0 auto;
}

.procedure {
    display: flex;
    margin-bottom: 120px;
}

.procedure--item {
    flex: auto;
    width: 32%;
    margin: 0 auto;
}

.procedure--content p {
    margin: 30px 15% 30px 15%;
    height: 100px;
}

.procedure--content img {
    width: 70%;
    margin: 0 15% 0 15%;
}

.target--wrapp {
    display: flex;
    flex-wrap: wrap;
}

.target--item  {
    flex: auto;
    width: 29%;
    margin: 30px 2% 30px 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.target--item h2 {
    font-weight: 700;
    padding-bottom: 30px;
}

.target--content {
    display: flex;
}

.target--content img {
    flex: auto;
    width: 48%;
    margin-right: 2%;
    border-radius: 20px;
}

.target--content p {
    flex: auto;
    width: 48%;
    height: 120px;
    padding-left: 10px;
}

.link_move {
    padding-top: 80px;
}

//company

.company--title {
    margin-top: 100px;
    margin-bottom: 100px;
}

.company--title h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.list-item {
    list-style: none;
    display: flex;
    margin-bottom: 20px;
}

.list-head {
    width: 35%;
    margin-right: 68px;
    text-align: right;
    color: rgba(0,0,0,0.4);
    float: left;
}

.list-data {
    width: 55%;
    font-weight: 600px;
    float: left;
}

.history li {
    list-style: none;
}

.list-head-history {
    margin-right: 28px;
    width: 35%;
    text-align: right;
    color: rgba(0,0,0,0.4);
    float: left;
}

.business li {
    list-style: none;
}

.list-head-business {
    margin-right: 28px;
    width: 35%;
    text-align: right;
    color: rgba(0,0,0,0.4);
    float: left;
}

.main-content p {
    text-align: center;
}

//products

.section--title {
    margin: 0 auto;
    width: 70%;
    height: 180px;
    font-weight: 700;
}

.section--title h2 {
    font-weight: 700;
}

.title-text {
    width: 100px;
    height: 100px;
    border: solid 3px #000000;
    border-radius: 25%;
    vertical-align: middle;
    margin: 0 auto;
}

.title-text-inner {
    width: 80px;
    height: 60px;
    margin: 17px 7px 17px 7px;
    text-align: center;
}

.search--content {
    margin: 20px;
    display: flex;
    flex-flow: row-reverse;
}

.search--content img {
    margin: auto;
}

.search--function {
    flex: auto;
    width: 40%;
    margin: 0 5% 0 5%;
    padding-left: 5%;
}

.search--content img{
    width: 30%;
    flex: auto;
}

.search--item {
    width: 100%;
    height: 150px;
}

.search--item h3 {
    font-weight: 700;
    text-align: left;
}

.products--content {
    margin-top: 60px;
}

.product-figure {
    width: 45%;
    border-radius: 20px;
}

.product-figure-solution {
    width: 45%;
    border-radius: 20px;
}


.cta {
    width: 100%;
}

.cta-area {
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .inner {
        width: 100%;
    }
    
    .PC {
        display: none;
    }
    
    .iPad {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    
    .SP {
        display: none;
    }
    
    .button--wrapp {
        margin-left: -31px;
        padding: 30px 0px 30px 0px;
    }
    
    .button--wrapp ul {
        display: flex;
    }
    
    .button-1 {
        flex: auto;
    }
    
    .button-1-2 {
        flex: auto;
    }
    
    .button-2 {
        margin: 0 auto;
    }
    
    
    .solution--wrapp {
        flex-wrap: wrap;
    }
    
    .solution--item {
        width: 25%;
        display: block;
    }

    .solution--icon {
        margin: 0 auto;
    }

    .solution--name {
        margin: 0 auto;
    }
    
    .feature--item {
        width: 90%;
        flex-direction: column;
    }
    
    .inner_text {
        width: 100%;
        margin: 0 auto;
    }
    
    .inner_text p {
        margin: 0 auto;
    }
    
    .figure-point{
        width: 100%;
        margin: 0 auto;
    }
    
    .figure-point-moc {
        width: 100%;
        margin: 0 auto;
    }
    
    .procedure {
        flex-direction: column;
    }
    
    .procedure--item {
        width: 90%;
        margin: 0 auto;
    }
    
    .procedure--item div {
        margin: 0 auto;
    }
    
    .procedure--content p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .target--item {
        width: 100%;
        float: none;
        margin-bottom: 120px;
    }
    
    //company
    
    
    //products
    
}

@media screen and (max-width: 700px) {
    .inner {
        width: 100%;
    }
    
    .PC {
        display: none;
    }
    
    .iPad {
        display: none;
    }
    
    .SP {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    
    .button-wrapp ul{
        display: flex;
    }
    
    .button-1 {
        flex: auto;
    }
    
    .button-1-2 {
        flex: auto;
    }
    
    .button-2 {
        margin: 0 auto;
    }
    
    .button-3 {
        flex: auto;
    }
    
    .solution--wrapp {
        flex-wrap: wrap;
    }
    
    .solution--item {
        width: 33%;
        display: block;
    }

    .solution--icon {
        margin: 0 auto;
    }

    .solution--name {
        margin: 0 auto;
    }
    
    .feature--item {
        width: 100%;
        flex-direction: column;
    }
    
    .inner_text {
        width: 100%;
        margin: 0 auto;
    }
    
    .inner_text p {
        margin: 0 auto;
    }
    
    .figure-point{
        width: 100%;
        margin: 0 auto;
    }
    
    .figure-point-moc {
        width: 100%;
        margin: 0 auto;
    }
    
    .procedure {
        flex-direction: column;
    }
    
    .procedure--item {
        width: 100%;
        margin-bottom: 60px;
    }
    
    .procedure--item div {
        margin: 0 auto;
    }
    
    .procedure--content p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .target--item {
        width: 100%;
        float: none;
        margin-bottom: 120px;
    }
    
    //company
    .list-head {
        width: 25%;
        margin-right: 68px;
        text-align: right;
        color: rgba(0,0,0,0.4);
        float: left;
    }

    .list-data {
        width: 65%;
        font-weight: 600px;
        float: left;
    }
    
    .list-head-history {
        margin-right: 28px;
        width: 25%;
        text-align: right;
        color: rgba(0,0,0,0.4);
        float: left;
    }
    
    .list-head-business {
        margin-right: 28px;
        width: 25%;
        text-align: right;
        color: rgba(0,0,0,0.4);
        float: left;
    }


    
    //product
    .search--content {
        flex-direction: column;
    }
    
    .search--function {
        width: 90%;
        margin: 0 auto;
    }
    
    .search--content  img {
        width: 80%;
        margin: 0 auto;
    }
}