<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class = "logo">
      <%= link_to image_tag("TeamLink_logo.jpg", class: "logo"), root_path %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "企業情報",   company_path %></li>
        <li><%= link_to "プロダクト",   products_path %></li>
        <li><%= link_to "ニュース", news_path %></li>
      </ul>
    </nav>
  </div>
</header>