<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Team Link", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "企業情報",   company_path %></li>
        <li><%= link_to "プロダクト",   products_path %></li>
        <li><%= link_to "ニュース", news_path %></li>
      </ul>
    </nav>
  </div>
</header>